<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MRL.SSL.GameDefinitions.General_Settings.ActiveRoleSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MRL.SSL.GameDefinitions.General_Settings.VisualizerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MRL.SSL.GameDefinitions.General_Settings.AISettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GameDefinitions.General_Settings.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GameDefinitions.General_Settings.AISettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MRL.SSL.GameDefinitions.General_Settings.ActiveRoleSettings>
            <setting name="Parameters" serializeAs="String">
                <value />
            </setting>
        </MRL.SSL.GameDefinitions.General_Settings.ActiveRoleSettings>
        <MRL.SSL.GameDefinitions.General_Settings.VisualizerSettings>
            <setting name="LogUseDefaultName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogUseDefaultAddress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogUserFileName" serializeAs="String">
                <value>userFileName</value>
            </setting>
            <setting name="LogUserLogAddress" serializeAs="String">
                <value>c:/</value>
            </setting>
            <setting name="LoggerDelay" serializeAs="String">
                <value>20</value>
            </setting>
        </MRL.SSL.GameDefinitions.General_Settings.VisualizerSettings>
        <MRL.SSL.GameDefinitions.General_Settings.AISettings>
            <setting name="AiPort" serializeAs="String">
                <value>1011</value>
            </setting>
            <setting name="VisPort" serializeAs="String">
                <value>1017</value>
            </setting>
            <setting name="RefIP" serializeAs="String">
                <value>224.5.23.1</value>
            </setting>
            <setting name="RefPort" serializeAs="String">
                <value>10003</value>
            </setting>
            <setting name="SSLVisionIP" serializeAs="String">
                <value>224.5.23.2</value>
            </setting>
            <setting name="SSLVisionPort" serializeAs="String">
                <value>10006</value>
            </setting>
            <setting name="AnalayzerPort" serializeAs="String">
                <value>10016</value>
            </setting>
            <setting name="SimulatorSendPort" serializeAs="String">
                <value>10020</value>
            </setting>
            <setting name="SimulatorRecievePort" serializeAs="String">
                <value>20011</value>
            </setting>
            <setting name="RecievePort" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AiName" serializeAs="String">
                <value>MRL-SSL2-PC</value>
            </setting>
            <setting name="VisName" serializeAs="String">
                <value>MRL-SSL2-PC</value>
            </setting>
            <setting name="SimulatorName" serializeAs="String">
                <value>MRL-SSL2-PC</value>
            </setting>
            <setting name="AnalayzerName" serializeAs="String">
                <value>MRL-SSL2-PC</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>6</value>
            </setting>
        </MRL.SSL.GameDefinitions.General_Settings.AISettings>
        <GameDefinitions.General_Settings.GameSettings>
            <setting name="test" serializeAs="String">
                <value />
            </setting>
        </GameDefinitions.General_Settings.GameSettings>
        <GameDefinitions.General_Settings.AISettings>
            <setting name="AiName" serializeAs="String">
                <value>MRL-AI-PC</value>
            </setting>
            <setting name="AiPort" serializeAs="String">
                <value>1011</value>
            </setting>
            <setting name="VisName" serializeAs="String">
                <value>MRL-VIS-PC</value>
            </setting>
            <setting name="VisPort" serializeAs="String">
                <value>10003</value>
            </setting>
            <setting name="RefIP" serializeAs="String">
                <value>224.5.95.5</value>
            </setting>
            <setting name="RefPort" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="SimulatorName" serializeAs="String">
                <value>MRL-VIS-PC</value>
            </setting>
            <setting name="SimulatorSendPort" serializeAs="String">
                <value>1013</value>
            </setting>
            <setting name="SimulatorRecievePort" serializeAs="String">
                <value>1015</value>
            </setting>
            <setting name="SSLVisionIP" serializeAs="String">
                <value>224.5.23.2</value>
            </setting>
            <setting name="SSLVisionPort" serializeAs="String">
                <value>10002</value>
            </setting>
        </GameDefinitions.General_Settings.AISettings>
    </userSettings>
</configuration>